auto-install-peers = true

//npm.greensock.com/:_authToken=ad280b89-8fbf-46fa-9867-302322778e1b
@gsap:registry=https://npm.greensock.com

@frontend.monks:registry=https://pkgs.dev.azure.com/mediamonks/_packaging/frontend.monks/npm/registry/
always-auth=true
